#logo-testo {
    display: inline-block;
    margin-left: 10px;        
}

.contenitore {
    background-color: grey;
    width: 900px;
    height: 800px;
    display: inline-block;
}

.box1 {
    background-color: white;
    width: 600px;
    height: 45px;
    margin-left: 150px;
    margin-top: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.task {
    color: white;
    background-color: aqua;
    border-radius: 4px;
    padding: 2px;
    display: inline-block;
    margin-top: 15px;
    margin-left: 50px;
}

.sezione {
    background-color: white;
    color: grey;
    border-radius: 4px;
    border: 1px solid black;
    padding: 1px;
}

.box2 {
    background-color: white;
    width: 600px;
    height: 500px;
    margin-top: 5px;
    margin-left: 150px; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;   
}

h3 {
    margin-left: 25px;
    margin-top: 30px;
    display: inline-block;
    margin-bottom: 0;
}

.newsletter {
    margin-top: 0px;
    margin-left: 30px;
    
}

#editorial {
    background-color: aqua;
    border-radius: 10px;
    padding: 3px;
    color: white;
}

#word {
    background-color: violet;
    border-radius: 10px;
    padding: 3px;
    color: white;
}

#word2 {
    background-color: lightseagreen;
    border-radius: 10px;
    padding: 3px;
    color: white;
}

#word3 {
    background-color: orange;
    border-radius: 10px;
    padding: 3px;
    color: white;
}

#word4 {
    background-color: palevioletred;
    border-radius: 10px;
    padding: 3px;
    color: white;
}

#word5{
    background-color: lightgreen;
    border-radius: 10px;
    padding: 3px;
    color: white;
}